.delete,
.update {
    color: black;
    font-weight: 600;
    font-size: 14px;
}

.btn-warning {
    background-color: #ffc107 !important;
}

.btn-danger {
    background-color: #dc3545 !important;
}

.btn-success {
    background-color: #198754 !important;
}

.todoText {
    width: 300px;
}